<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="{{item.thumbnailUrl}}">
    <div class="caption">
      <h3>{{item.title}}</h3>
      <p>{{item.description}}</p>
      <p><a
          href="{{item.videoUrl}}"
          class="btn btn-default"
          role="button">
          Watch
        </a></p>
    </div>
  </div>
</div>
