<div class="container">
  <div class="page-header">
    <h1>YouTube Search
        <img
        style="float: right;"
        *ngIf="loading"
        src="assets/images/loading.gif">
      </h1>
  </div>

  <div class="row">
    <div class="input-group input-group-lg col-md-12">
      <search-bar
        (loading)="loading = $event"
        (results)="updateResults($event)">
      </search-bar>
    </div>
  </div>

  <div class="row">
    <youtube-item
      *ngFor="let item of results"
      [item]="item">
    </youtube-item>
  </div>
</div>
